@import '../../styles/mixins';

.podcast-detail-page-container {
	@include display-flex();

	.routes-container {
		@include flex-grow(1);
		margin-left: 50px;
		margin-bottom: 20px;
		width: 100%;
	}
}
