@import '../../styles/variables';

.episode {
	@extend .target-slide;
	padding: 20px;

	.title {
		font-weight: bold;
		font-size: $font-size-big;
		margin-bottom: 20px;
	}

	.description {
		margin-bottom: 20px;
	}

	.audio-player {
		width: 100%;
	}
}
