@import '../../styles/variables';

.podcast-bar {
	@extend .target-slide;
	overflow-wrap: break-word;

	& > * {
        padding: 20px 10px;
    }

	.icon {
		text-align: center;
		border-bottom: 1px solid $color-border-input;
		padding: 20px 10px;

		& > img {
			width: 70%;
			border-radius: 5%;
		}
	}

	.title-content {
		padding: 20px 10px;
		border-bottom: 1px solid $color-border-input;

		.name {
			font-weight: bold;
		}

		.author {
			font-style: italic;
			color: $color-secondary-font;
		}
	}

	.summary {
		padding: 20px 10px;
		.title {
			font-weight: bold;
			margin-bottom: 10px;
		}
		.text {
			font-style: italic;
			color: $color-secondary-font
		}
	}
}
