@import '../../styles/variables';

.header {
	border-bottom: 1px solid $theme-color-1;
	padding: 5px 10px;

	.title {
		display: inline-block;
		color: $theme-color-1;
		font-weight: bold;
	}

	.loading {
		display: inline-block;
		float: right;
	}
}
