@import '../../styles/variables';

.podcast-episodes-list {
	.header-list {
		@extend .target-slide;
		padding: 10px;
		font-weight: bold;
		font-size: $font-size-big;
		margin-bottom: 20px;
	}

	.episodes-table {
		@extend .target-slide;
		width: 100%;
		border-collapse: collapse;
		padding: 0 50px 0 50px;

		th {
			text-align: left;
			padding: 5px;
		}

		tbody {
			tr {
				color: $color-theme-1;
				border-top: 1px solid $color-border-input;

				&:nth-child(odd) {
					background: $color-table-rows
				}
			}
			td {
				padding: 5px;
			}
		}
	}
}
