@import '../../styles/variables';

.podcast-episodes-list {
	.header-list {
		@extend .target-slide;
		padding: 10px;
		font-weight: bold;
		font-size: $font-size-big;
		margin-bottom: 20px;
	}
	.table-container{
		padding: 20px;
		@extend .target-slide;

		.episodes-table {
			width: 100%;
			border-collapse: collapse;

			th {
				text-align: left;
				padding: 10px;
			}

			tbody {
				tr {
					color: $color-theme-1;
					border-top: 1px solid $color-border-input;

					&:nth-child(odd) {
						background: $color-table-rows
					}
				}
				td {
					padding: 10px;
				}
			}
		}
	}
}
