@import '../../styles/variables';

.item-list {
    text-align: center;
    padding: 0 20px;
    @extend .target-slide;
    margin-top: 50px;

    & > * {
        margin-bottom: 15px;
    }

    .icon {
        margin-top: -50px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .name {
        font-weight: bold;
        text-transform: uppercase;
    }

    .author {
        color: $color-secondary-font;
    }
}
